body {
    padding: 0 150px;
  }
  .Azeret-Mono {
    font-family: Azeret Mono;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }
  /* Banner Styles */
  .banner {
    background-image: url(../assets/Hero-bg.png);
    height: 650px;
  }
  .banner-pic {
    margin-top: 26px;
    margin-bottom: 32px;
  }
  .title {
    padding-top: 20px;
  }
  .banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
  }
  .banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
  .banner-content {
    text-align: center;
  }
  .btn-primary {
    border-radius: 8px;
  
    background: rgb(13, 19, 33);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 32px;
  }
  
  .about-item-1 {
    display: flex;
    margin-top: 50px;
    width: 100%;
  }
  .about-item-1 div:nth-child(1) {
    width: 50%;
  }
  .about-item-1 div:nth-child(2) {
    width: 50%;
  }
  .about-item-1 div:nth-child(2) img {
    width: 60%;
  }
  .about-item-2 {
    display: flex;
    margin-top: 50px;
    width: 100%;
  }
  .about-item-2 div:nth-child(1) {
    width: 50%;
  }
  .about-item-2 div:nth-child(2) {
    width: 50%;
  }
  .about-item-2 div:nth-child(1) img {
    width: 60%;
  }
  .about-item-3 {
    display: flex;
    margin-top: 50px;
    width: 100%;
  }
  .about-item-3 div:nth-child(1) {
    width: 50%;
  }
  .about-item-3 div:nth-child(2) {
    width: 50%;
  }
  .about-item-3 div:nth-child(2) img {
    width: 60%;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .section-title {
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding: 0;
    margin-top: 15px;
  }
  .section-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 500px;
    text-align: center;
  }
  
  .item-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  
    text-align: left;
  }
  
  .btn-secondary {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
  
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
  
    /* Frame 7 */
    position: static;
    width: 150px;
    height: 48px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
  
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
  }
  
  /* ----------- */
  .top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top_header p {
    font-size: 30px;
    font-weight: bold;
  }
  .top_header button {
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 14px;
  }
  .video_div {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 18px;
  }
  .tecnology_box {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tecnology_box div .t_title {
    font-weight: bold;
    font-size: 22px;
  }
  .tecnology_box div a {
    font-size: 20px;
    color: black;
  }
  .tecnology_box div:nth-child(1) {
    background-color: #ff4c1e0d;
    padding: 50px;
    border-radius: 20px;
  }
  .tecnology_box div:nth-child(2) {
    background-color: #004ce80d;
    padding: 50px;
    border-radius: 20px;
  }
  .tecnology_box div:nth-child(3) {
    background-color: #ffdf000d;
    padding: 50px;
    border-radius: 20px;
  }
  
  .support_div {
    margin-top: 100px;
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border-radius: 30px;
    text-align: center;
  }
  .support_div div h3 {
    font-size: 40px;
    color: white;
  }
  .support_div div p {
    color: gray;
    font-size: 20px;
  }
  .support_div div input {
    padding: 15px;
    width: 70%;
  }
  .support_div div button {
    padding: 15px 25px;
    font-weight: bold;
  }
  footer {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer p {
    font-weight: bold;
    font-size: 25px;
  }
  footer div img {
    margin: 0 10px;
  }
  